Books_Data_Clean.csv
Good_Reads_Book_Awards_Crawl_2023_12_27_11_14.csv
book_details.csv
kindle_data-v2.csv
barplot_2023_Booksales_by_Publisher.png
barplot_2023_Fiction_Genre_Booksales.png
barplot_2023_Fiction_Sub_Genre_Booksales.png
barplot_2023_NonFiction_Genre_Booksales.png
barplot_2023_NonFiction_Sub_Genre_Booksales.png
barplot_2023_Romance_Genre_Booksales_by_Trope.png
barplot_2023_Romance_Genre_Booksales_by_Trope2.png
barplot_2023_Sub_Genre_Booksales.png
barplot_Maser_Genre_Booksales.png
barplot_2023_Genre_Booksales.png